*{
    color: rgb(2,231,247);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("https://i.imgur.com/GIwwXZl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}


body{
    margin: 0 auto;
    width: 0 auto;
    background-color: rgb(50, 27, 177);
}



#wrapper{
    text-align: center;
}



#main_logo img{
    width: 500px;
    margin-bottom: 120px;
    margin-top: 50px;
}

#header h4{
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 20px;
}

#top_logout{
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
}


#edit-btn{
    margin-right: 75px;
}

#buttons button{
    background-color: rgb(110,26,143);
    color:rgb(2,231,247);
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 1%;
    width: 174px;
    border: 3px inset rgb(47,35,63);
    border-radius: 5px;
}

hr{
    border: 2px solid rgb(47,35,63);
    margin-bottom: 50px;
}


#gigs_attended{
    display: inline-block;
    
}

#gigs_rsvp{
    display: inline-block;
    margin-right: 85px;
    margin-left: 0px;
}


#gigs_rsvp a{
    color: rgb(242,19,219);
    
}

#gigs_attended th{
    border-radius: 4px;
    display: inline-block;
    border-style:groove groove none none;
    border-color: rgb(2,231,247);
    color: rgb(242,19,219);
    margin-bottom: 20px;
}



#gigs_rsvp th{
    border-radius: 4px;
    display: inline-block;
    border-style: groove none none groove ;
    color: rgb(242,19,219);
    border-color: rgb(2,231,247);
    margin-bottom: 20px;
}


td{
    margin-top: 10px;
}

#bot_logout{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

