*{
    color: rgb(2,231,247);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("https://i.imgur.com/GIwwXZl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}


body{
    margin: 0 auto;
    width: 0 auto;
    background-color: rgb(50, 27, 177);
}



#wrapper{
    text-align: center;
}

#main_logo img{
    width: 500px;
    margin-bottom: 10px;
    margin-top: 10px;
}

hr{
    border: 2px solid rgb(47,35,63);
    
}

#login_header{
    margin-top: 20px;
    margin-bottom: 35px;
}

#login_header h2{
    border-radius: 4px;
    display: inline-block;
    border-style: groove none none groove ;
    border-color: rgb(2,231,247);
    color: rgb(242,19,219);
}


#flash_msg p {
    color: rgb(242,19,219);
}

h2{
    border-radius: 4px;
    display: inline-block;
    border-style: none groove groove none ;
    color: rgb(242,19,219);
    border-color: rgb(2,231,247);
}


input{
    color: rgb(255, 85, 184);
    background: transparent;
}

#email{
    display: inline-block;
    margin-left: 75px;
}

#pw{
    display: inline-block;
    margin-left: 20px;
}

#login_form .inpt_field{
    text-decoration: underline;
    text-decoration-color: rgb(2,231,247);
    color: rgb(255, 85, 184);
    margin-bottom: 40px;
    margin-top: 25px;
}

#login_btn{
    background-color: rgb(110,26,143);
    color:rgb(2,231,247);
    display: inline-block;
    margin-bottom: 50px;
    padding: 12px;
    width: 170px;
    border: 3px inset rgb(47,35,63);
    border-radius: 5px;
    display: block;
    margin-left: 44.5%;
}



#add_user_form .inpt_field{
    text-decoration: underline;
    text-decoration-color: rgb(2,231,247);
    color: rgb(255, 85, 184);
    margin-top: 25px;
}

#fname{
    margin-left: 78px;
}

#fname, lname{
    display: inline-block;
    margin-bottom: 5px;
}

#em_signup{
    display: block;
    margin-bottom: 5px;
    margin-left: 715px;
}

#pw_signup{
    margin-left: 75px;
}

#pw_signup, con_pw{
    display: inline-block;
    margin-bottom: 5px;
}




#sign_up_btn{
    background-color: rgb(110,26,143);
    color:rgb(2,231,247);
    display: inline-block;
    margin-top: 10px;
    padding: 12px;
    width: 170px;
    border: 3px inset rgb(47,35,63);;
    border-radius: 5px;
    display: block;
    margin-left: 44.5%;
}


