*{
    color: rgb(4, 148, 153);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("../static/images/bg_pic.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    
}


body{
    /* margin: 0 auto;
    width: 0 auto; */
    background-color: rgb(50, 27, 177);
}



/* #wrapper{
    text-align: center;
} */