<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="C:\Users\white\Desktop\My Projects\Show Stoppers\static\account.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">


    <title>Show Stoppers- Go to all the gigs!</title>


        <!-- DISCLAIMER!!! -->
    <!-- SITE ONLY MEANT TO BE VIEWED IN FULL SCREEN -->

</head>
<body>

    <div id="wrapper">

        <div id="header">

            <h4>{{user.first_name}} {{user.last_name}}'s account</h4>

            <a id="top_logout" href="/logout">Logout</a>

            <div id="main_logo">
                <img src="https://i.imgur.com/ilfmFNF.png" alt="show_stoppers_logo">
                
            </div>

        </div>

        <div id="buttons">
            <a id="edit-btn" href="/edit/{{user['id']}}/info"><button>Edit Info</button></a>

            <a href="/gigs/{{user['id']}}"><button>Find A Gig!</button></a>
        </div>

        <hr>
        
        <div id="gigs_rsvp">
            
            <table>
                <tr>
                    <th>Gigs RSVP'd</th>                    
                </tr>
                <!-- for loop start  -->
                <tr>
                    <td>gig name rsvpd |</td>                           
                    <td><a href="/rsvp_to_gig">Mark as Attended</a></td>  
                </tr>
                <!-- for loop end -->
            </table> 

        </div>
        <div id="gigs_attended">
            <table>
                <tr>
                    <th>Gigs Attended</th>                    
                </tr>                
                
            <!-- for loop start -->
                <tr>
                    <td>gig name attended</td>
                </tr>
            
                
                    
            <!-- for loop end -->
            </table> 

        </div>
        

        <a id="bot_logout" href="/logout">Logout</a>

    </div>


    
</body>
</html>