<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="C:\Users\white\Desktop\My Projects\Show Stoppers\static\edit_accnt.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='edit_accnt.css') }}">


    <title>Show Stoppers- Go to all the gigs!</title>


        <!-- DISCLAIMER!!! -->
    <!-- SITE ONLY MEANT TO BE VIEWED IN FULL SCREEN -->
    
</head>
<body> 

    <div id="wrapper">

        <div id="header">

            <a id="top_logout" href="/ShowStoppers">Back To Account</a>

            <div id="main_logo">
                <img src="https://i.imgur.com/ilfmFNF.png" alt="show_stoppers_logo">
                
            </div>

        </div>
    
        <div id="valid_username">
            <h4>{{user.first_name}} {{user.last_name}}'s account</h4>
        </div>
        
        <div id="edit_accnt">
            <div id="flash_msg">
                {% with messages = get_flashed_messages() %}     
                    {% if messages %}                            
                        {% for message in messages %}
                            <p>{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>


            <h2>Update Account Info</h2>

            <div id="edit_info">
                <form id="edit_info_form" action="/edit/{{user['id']}}/update" method="POST">
                    <input id="fname" class="inpt_field" type="text" name="fname" placeholder="{{user['first_name']}}">
                    <input id="lname" class="inpt_field" type="text" name="lname" placeholder="{{user['last_name']}}">
                    <input id="em" class="inpt_field" type="text" name="email" placeholder="{{user['email']}}">
                    <input id="update_info_btn" type="submit" value="Update">
                </form>
            </div>
            

        </div>

        <hr>

        <h2>Update Password </h2>

        <div id="signup">
            <form id="edit_pw_form" action="/edit/{{user['id']}}/pwupdate" method="POST">
                <input id="old_pw" class="inpt_field" type="password" style="border: none;" name="old_pw" placeholder="Old Password">
                <input id="new_pw" class="inpt_field" type="password" style="border: none;" name="pw" placeholder="New Password">
                <input id="con_pw" class="inpt_field" type="password" style="border: none;" name="con_pw" placeholder="Confirm New Password">
                <input id="update_pw_btn" type="submit" value="Update">
            </form>
        </div>


        <a id="bot_logout" href="/logout">Logout</a>

    </div>

    
</body>
</html>