<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="C:\Users\white\Desktop\My Projects\Show Stoppers\static\gigs.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='gigs.css') }}">

    <title>Show Stoppers- Go to all the gigs!</title>


    <!-- DISCLAIMER!!! -->
    <!-- SITE ONLY MEANT TO BE VIEWED IN FULL SCREEN -->

</head>
<body>
    

    <div id="wrapper">

        <div id="header">

            <a id="accnt_link" href="/ShowStoppers">Back To Account</a>

            
            <div id="main_logo">
                <img src="https://i.imgur.com/ilfmFNF.png" alt="show_stoppers_logo">
                
            </div>
            
        </div>
        

        <div id="gig_choices">

            <form action="/gig_Select" method="POST">

                
                <select name ="mainID" id="select_date">
                    <option selected="selected">Choose A Date</option>      
                    {% for event in shows %}
                        <option  value="{{event['id']}}">The {{event['title']}}, playing at {{event['location']}} on {{event.start_time.strftime('%m-%d-%Y' " from " '%I%p')}} to {{event.end_time.strftime('%I%p')}}</option>
                    {% endfor %}
                </select> 
                
                <input id="rsvp_btn" type="submit" value="RSVP">
            </form>


        </div>
        
        
        
        <a id="bot_logout" href="/logout">Logout</a>

    </div>



</body>
</html>